In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


dados27 = pd.read_csv('27.csv', sep = ' ')
dados28 = pd.read_csv('28.csv', sep = ' ')
dados30 = pd.read_csv('30.csv', sep = ' ')
dados31 = pd.read_csv('31.csv', sep = ' ')

In [87]:
dados27 = dados27.assign(Data='27/05/2022')

In [88]:
dados28 = dados28.assign(Data='28/05/2022')

In [89]:
dados30 = dados30.assign(Data='30/05/2022')

In [90]:
dados31 = dados31.assign(Data='31/05/2022')

In [91]:
dados31

,#,Moeda,Preço,1 h,24 h,7 d,Volume em 24 h,Capitalização de Mercado,Data
0,1,Bitcoin BTC BTC,3.208289e+04,0.13,0.46,1.00,3.454567e+10,6.097348e+11,31/05/2022
1,2,Ethereum ETH ETH,1.977790e+03,0.11,0.32,0.02,1.923480e+10,2.392061e+11,31/05/2022
2,3,Tether USDT USDT,1.000000e+00,0.03,0.02,0.03,6.059565e+10,7.252714e+10,31/05/2022
3,4,BNB BNB BNB,3.221900e+02,0.10,0.26,0.14,1.918378e+09,5.398789e+10,31/05/2022
4,5,USD Coin USDC USDC,1.000000e+00,0.03,0.03,0.03,6.123735e+09,5.397513e+10,31/05/2022
...,...,...,...,...,...,...,...,...,...
3304,3305,Yearn Finance DOT YFDOT YFDOT,3.561390e-07,0.00,0.00,0.00,0.000000e+00,4.505158e-03,31/05/2022
3305,3306,Fesschain FESS FESS,1.000000e-12,0.00,0.00,0.00,0.000000e+00,3.121681e-04,31/05/2022
3306,3307,VersoView VVT VVT,0.000000e+00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,31/05/2022
3307,3308,Bone [OLD] BONE BONE,0.000000e+00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,31/05/2022
3308,3309,Rivetz RVT RVT,-6.273041e-02,0.00,0.00,0.00,0.000000e+00,-1.808099e+06,31/05/2022

In [92]:
df = pd.concat([dados27,dados28, dados30, dados31])

In [93]:
df

,#,Moeda,Preço,1 h,24 h,7 d,Volume em 24 h,Capitalização de Mercado,Data
0,1,Bitcoin BTC BTC,2.837640e+04,-0.04,-0.40,-0.66,3.112345e+10,5.396522e+11,27/05/2022
1,2,Ethereum ETH ETH,1.727410e+03,-0.08,-0.74,-1.46,2.397160e+10,2.094191e+11,27/05/2022
2,3,Tether USDT USDT,1.000000e+00,0.02,0.01,0.00,5.923718e+10,7.276477e+10,27/05/2022
3,4,USD Coin USDC USDC,1.000000e+00,0.02,-0.00,-0.01,6.175088e+09,5.354745e+10,27/05/2022
4,5,BNB BNB BNB,2.984500e+02,-0.04,-0.46,-0.30,2.868084e+09,5.028798e+10,27/05/2022
...,...,...,...,...,...,...,...,...,...
3304,3305,Yearn Finance DOT YFDOT YFDOT,3.561390e-07,0.00,0.00,0.00,0.000000e+00,4.505158e-03,31/05/2022
3305,3306,Fesschain FESS FESS,1.000000e-12,0.00,0.00,0.00,0.000000e+00,3.121681e-04,31/05/2022
3306,3307,VersoView VVT VVT,0.000000e+00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,31/05/2022
3307,3308,Bone [OLD] BONE BONE,0.000000e+00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,31/05/2022
3308,3309,Rivetz RVT RVT,-6.273041e-02,0.00,0.00,0.00,0.000000e+00,-1.808099e+06,31/05/2022

In [94]:
df

,#,Moeda,Preço,1 h,24 h,7 d,Volume em 24 h,Capitalização de Mercado,Data
0,1,Bitcoin BTC BTC,2.837640e+04,-0.04,-0.40,-0.66,3.112345e+10,5.396522e+11,27/05/2022
1,2,Ethereum ETH ETH,1.727410e+03,-0.08,-0.74,-1.46,2.397160e+10,2.094191e+11,27/05/2022
2,3,Tether USDT USDT,1.000000e+00,0.02,0.01,0.00,5.923718e+10,7.276477e+10,27/05/2022
3,4,USD Coin USDC USDC,1.000000e+00,0.02,-0.00,-0.01,6.175088e+09,5.354745e+10,27/05/2022
4,5,BNB BNB BNB,2.984500e+02,-0.04,-0.46,-0.30,2.868084e+09,5.028798e+10,27/05/2022
...,...,...,...,...,...,...,...,...,...
3304,3305,Yearn Finance DOT YFDOT YFDOT,3.561390e-07,0.00,0.00,0.00,0.000000e+00,4.505158e-03,31/05/2022
3305,3306,Fesschain FESS FESS,1.000000e-12,0.00,0.00,0.00,0.000000e+00,3.121681e-04,31/05/2022
3306,3307,VersoView VVT VVT,0.000000e+00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,31/05/2022
3307,3308,Bone [OLD] BONE BONE,0.000000e+00,0.00,0.00,0.00,0.000000e+00,0.000000e+00,31/05/2022
3308,3309,Rivetz RVT RVT,-6.273041e-02,0.00,0.00,0.00,0.000000e+00,-1.808099e+06,31/05/2022

In [95]:
df.to_csv('final.csv', sep = ' ', index=False)